# Python
__pycache__/
*.pyc
backend/.venv/

# Variables de entorno
.env
backend/.env

# Node / React
frontend/node_modules/
frontend/dist/

# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Dataset grande
dataset/listingsAndReviews.json